body {
    font-family: Arial, sans-serif;
    background-color: 	#dddddd;
}
h1{
    color: #4b3c72;  
    text-align: center;
    font-size: 80;
    color: rgb(204, 192, 193);
    background-color:#4b3c72; 
    
}
b{
    color: rgb(0, 0, 0);
    font-size: larger ;
}
.comparison-table {
    width: 100%;
    border-collapse: collapse;
}
.comparison-table th, .comparison-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.comparison-table th {
    background-color: #528e9b ;
    color: white;
}
.comparison-table tr:nth-child(even) {
    background-color:#674ea7 ;
}
pre {
font-size: 70;
color: rgb(204, 192, 193);
background-color: #b4a7d6; 
font-size: 30;   
}
.more-info {
    text-align: center;
    font-size: 70;
    color: rgb(204, 192, 193);
    background-color: 	#dddddd ; 
    font-size: 30;
}
